<!DOCTYPE html>
<html lang="en">
<%- include('./head.ejs') %>
<body>
    <div>
        <%- include('./nav.ejs') %>
        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nihil qui corrupti, possimus laborum suscipit in. Ut,
                 voluptatum architecto veritatis odio similique ipsa veniam illo, aut tempora unde cupiditate voluptatem.</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nihil qui corrupti, possimus laborum suscipit in. Ut,
                    voluptatum architecto veritatis odio similique ipsa veniam illo, aut tempora unde cupiditate voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nihil qui corrupti, possimus laborum suscipit in. Ut,
                        voluptatum architecto veritatis odio similique ipsa veniam illo, aut tempora unde cupiditate voluptatem.</p>
        </div>
    </div>
    <%-include('./footer.ejs') %>
</body>
</html>